/* fonts css */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/poppins-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../assets/fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/poppins-v20-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/poppins-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../assets/fonts/poppins-v20-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/poppins-v20-latin-regular.svg#Poppins') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/poppins-v20-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../assets/fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/poppins-v20-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/poppins-v20-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../assets/fonts/poppins-v20-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/poppins-v20-latin-500.svg#Poppins') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/poppins-v20-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../assets/fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/poppins-v20-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/poppins-v20-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../assets/fonts/poppins-v20-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/poppins-v20-latin-600.svg#Poppins') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/poppins-v20-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../assets/fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/poppins-v20-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/poppins-v20-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../assets/fonts/poppins-v20-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/poppins-v20-latin-700.svg#Poppins') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/poppins-v20-latin-800.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../assets/fonts/poppins-v20-latin-800.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/poppins-v20-latin-800.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/poppins-v20-latin-800.woff') format('woff'),
        /* Modern Browsers */
        url('../assets/fonts/poppins-v20-latin-800.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/poppins-v20-latin-800.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/*End fonts css */

/* Global css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'Poppins', sans-serif;
}

.row {
    margin: 0;
    float: left;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-family: 'Poppins';
}

a:hover {
    text-decoration: none !important;
    color: unset;
}

a {
    color: unset;
    text-decoration: none;
}

input:focus-visible {
    outline: unset;
}

img,
svg,
i {
    cursor: pointer;
}

ul li {
    list-style-type: none;

}

ul {
    padding: 0;
    margin: 0 !important;
}

/* End Global css */

/* Dashboard css */
.dashboard {
    position: relative;
    min-height: 100vh;
    height: 100%;
}

.side-head {
    position: relative;
}

.left-part .menu-item a,
.left-part .sub-menus a {
    color: #000;
    text-decoration: none;
}

.left-part .sub-menu {
    margin: unset;
}

.left-part {
    width: 339px;
    background: #fff;
    left: 0;
    position: absolute;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.2s;
    z-index: 123;
    background: #FFFFFF;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.07);

}

.left-part .side-logo {
    padding: 0 10PX;
}

.left-part .side-logo img {
    display: flex;
    margin: 10px auto;
}

.left-part ul {
    padding: 0;
    margin: 0 0 0 10px;
    list-style-type: none;
}

.left-part ul .menu-item {
    background: transparent;
    border-radius: 5px 0 0 5px;
}

.left-part .menu-items .menu-item a {
    display: block;
    border-radius: 5px;
    padding: 10px 10px;
}

.left-part .menu-items .menu-item a:hover {
    background: #EEF4FE;
}

.menu-item {
    margin: 10px 20px 0 20px;
}

.left-part ul li svg {
    margin-right: 10px;
}

.right-part {
    min-height: 100vh;
    height: 100vh;
    overflow-y: auto;
    margin-left: 339px;
    background: #f5f6fa;
}

.page-name h3 {
    white-space: nowrap;
    font-weight: 600;
    color: #fff;
}

.dash-head {
    background: #4472C4;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    padding: 10px;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.dash-head .page-name {
    align-items: center;
}

.close {
    display: none;
}

.profile-icon {
    margin-right: 20px;
}

.profile-icon .icon {
    padding: 10px;
    color: #fff;
    border-radius: 50%;
}

.profile-name h6 {
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    font-weight: 600;
}

.profile-desg p {
    color: #AEBFD9;
}

.mob-logo,
.tab-logo {
    display: none;
}

.mob-profile {
    display: none !important;
    position: relative;
}

/* new  */
.footer {
    text-align: center;
    color: #58606D;
    opacity: 0.6;
    float: left;
    width: 100%;
    margin: 10px 0;
}

.page-name h3 {
    padding-left: 15px;
    text-transform: uppercase;
}

.menu-section {
    align-items: center;
}

.notification-icon {
    position: relative;
    box-shadow: 0px 8px 12px rgb(0 0 0 / 10%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #FDC437 url(../assets/images/notifaction-icon.png) center no-repeat;
    margin-right: 10px;
}

.notification-icon::before {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    content: attr(data-stag);
    top: -5px;
    right: -5px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    color: #06283D;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-desg p {
    margin: 0;
}

.profile-icon .icon {
    padding: 0;
    width: 48px;
    height: 48px;
}

.profile-name span {
    padding-left: 6px;
}

.profile {
    padding: 5px 0;
}

.side-head {
    float: left;
    width: 100%;
    border-bottom: 1px solid #EFF1F5;
    /* height: 78px; */
    margin-bottom: 10px;
}

.left-part ul {
    float: left;
    width: 100%;
    height: calc(100vh - 139px);
    overflow: auto;
}

.main-page {
    float: left;
    height: calc(100vh - 78px);
    overflow: auto;
    width: 100%;
}

.left-part .menu-items .active {
    background: #EEF4FE;
    border-left: 5px solid #4472C4;
    color: #06283D;
    font-weight: 600;
}

.menu-items .active svg path {
    fill: #06283D;
}

.report-inner-section li {
    padding: 10px 20px 10px 20px;
}

.report-inner-section li input {
    margin-right: 18px;
}

.report-inner-section {
    margin: 0 22px;
    background: #F9FBFF;
    border-radius: 5px;
}

.report-inner-section li.active {

    border: unset !important;
    background: unset !important;
}

.report-inner-section {
    display: none;
}

/* End  Dashboard css */


/* paranthaman st  */
.login-header {
    background: url(./tab/images/login-banner-bg-1.png) top left no-repeat, url(./tab/images/login-banner-bg-2.png) left bottom no-repeat, linear-gradient(90deg, #4472C4 71%, #ECF3FF 29%);
    width: 100%;
    height: 100vh;
}

.login-left {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100vh;
    padding-bottom: 15vh;
}

.login-left h6 {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 500;
}

.login-left h1 {
    padding-bottom: 8vh;
    color: #FFFFFF;
    font-weight: 700;
}

.login-banner-img img {
    width: 100%;
    padding: 0 3vw;
}

.login-create-new {
    text-align: center;
    color: #979797;
    font-weight: 500;
    padding: 8px 0 8px 0;

}

.loginregistration {
    text-transform: uppercase;
    color: #4472C4;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
}

.input-part label {
    display: block;
    color: #969696;
    font-weight: 500;
    padding: 15px 0 5px 0;
}

.logo-login img {
    margin: auto;
    display: grid;
    padding: 0 30px 0px;
    width: 100%;
}

.input-part input,
.input-part select {
    color: #353631;
    padding: 11px 25px;
    background: #FFFFFF !important;
    border: 1px solid #C9C9C9;
    border-radius: 5px;
    width: 100%;
}

.login-right {
    width: 560px;
    background: #FAFBFD;
    box-shadow: 0px 4px 20px rgb(43 115 226 / 10%);
    max-height: 92vh;
    padding: 30px 50px 13px;
    overflow-y: auto;
    max-width: 560px;
    /* min-width: 100%; */

}

.input-part input:focus,
.input-part select:focus-visible {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
    border: 1px solid #2B73E2;
    outline: none;


}

.robot-section {
    display: flex;
    align-items: center;
    background: #FAFAFA;
    border: 1px solid #D6D6D6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 10px;
    margin: 15px 0;
    width: fit-content;
    height: 72px;
}

.robot-checkox p {
    margin: 0 80px 0 0;
    font-weight: 500;
}

.botton-section a button {
    padding: 12px;
    width: 100%;
    background: #4472C4;
    box-shadow: 0px 9px 20px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: #FFFFFF;
    border: unset;
    font-weight: 700;
}

p.have-account {
    margin-top: 15px;
    font-weight: 500;
    color: #3A3A3A;
    text-align: center;
}

.login-right-top {
    display: flex;
    align-items: center;
}

.input-part {
    position: relative;
}

span.i-icon {
    position: absolute;
    right: 0;
    bottom: 10px;
    background-image: url(../assets/images/i-icon-open.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 45px;
    height: 20px;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 2px solid #C1C1C1;
    border-radius: 1px;
}

.container .checkmark:after {
    left: 9px;
    top: 3px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #2B73E2;
    border: unset;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

.have-account a {
    font-weight: 700;
    color: #2B73E2;
    text-decoration: none;

}

.remember {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 0 10px;
}

.remember-me label {
    font-weight: 500;
    color: #3D4030;


}

.remember-me {
    padding-top: 20px;
}

.remember p {
    color: #7D7E76;
    font-weight: 500px;
    margin: 0;
    padding-top: 20px;
}

progress::-webkit-progress-bar {
    background: #D9D9D9;
    border-radius: 2px;
    width: 100%;
}

/* value: */
progress::-webkit-progress-value {
    background: #4472C4;
    border-radius: 2px;
}

progress::-moz-progress-bar {
    background: #4472C4;
    border-radius: 2px;
}

progress {
    background: #4472C4;
    border-radius: 2px;
}

progress {
    vertical-align: baseline;
    height: 4px;
    width: 100%;
}

.document-section {
    display: flex;
    width: 100% !important;
    align-items: center;
    padding: 15px 20px;
    background: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 5px;
    margin: 10px 0;
    justify-content: space-between;
    height: 64px;
    float: left;
    width: 100%;
}

.document-section-title-top {
    display: flex;
    justify-content: space-between;
}

.document-section-title {
    width: calc(100% - 70px);
    padding: 0 18px;
}

.document-section-title-top p {
    margin-bottom: 0px;
}

.inprogess {
    width: 30px;
    height: 30px;
    background: #E60F0F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inprogess.success {
    background-color: #20A300;
}

.inprogess img {
    display: block;
    object-fit: contain;
}

.document-section-title-top h6 {
    color: #000000;
    font-weight: 500;
}

.document-section-title-top p {
    color: #4472C4;
    font-weight: 400;
}

.remove {
    color: #DA251C;
    font-weight: 500;
    margin: 0;
}

.upload-section {
    background: #E3EEFF;
    border: 1px dashed #2B73E2;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    margin: 10px 0;
}

.upload-icon {
    margin-bottom: 10px;
}

.upload-section .botton-section a button {
    border: 1px solid #4472C4;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: unset;
    width: fit-content;
    color: #4472C4;
    text-transform: uppercase;
}

.upload-section p {
    margin-bottom: 5px;
    color: #3E3E3E;
    font-weight: 500;

}

.upload-section .upload-or {
    color: #8F9187;
}

.donut-chart-header {
    display: flex;
    justify-content: space-between;
}

.custom-new .donut-chart-header:nth-child(2) {
    color: #6C7686;
}

.custom-new .donut-chart-header:nth-child(3) p span {
    border-color: #4472C4;
}

.custom-new .donut-chart-header:nth-child(4) p span {
    border-color: #28CD97;
}

.custom-new .donut-chart-header:nth-child(5) p span {
    border-color: #FEC400;
}

.custom-new .donut-chart-header {
    color: #06283D;
    font-weight: 500;
}

.donut-chart-header p span {
    width: 14px;
    height: 14px;
    border: 3px solid;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.back-to-page-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: #4472C4;
    justify-content: center;
}

.back-to-page-icon img {
    object-fit: contain;
}

.custom-new.chart-section {
    padding: 0 30px;
}

.back-to-page {
    display: flex;
    align-items: center;
    padding: 30px 0 10px 0;
    justify-content: space-between;
}

p.name-of-persion {
    color: #6C7686;
    font-weight: 600;
    margin-bottom: 5px;
}

p.name-of-persion span {
    color: #06283D;
}

h2.back-to-bluecom span {
    color: #1363DF;
}

h2.back-to-bluecom {
    color: #06283D;
    font-weight: 400;
}

h5.header-overiew {
    text-transform: uppercase;
    color: #06283D;
    margin-top: 30px;
    font-weight: 500;
}

.card-section {
    min-width: calc(20% - 32px);
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 2px rgba(6, 40, 61, 0.04);
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
    padding: 20px;
    margin-right: 40px;
    float: left;
}

.card-section:nth-last-child(1) {
    margin-right: unset;
}

section.inner-section {
    padding: 30px;
}

.overview-icon {
    padding-bottom: 15px;
}

.overview-icon p {
    color: #58606D;
}

.card-section p {
    color: #6C7686;
}

.card-section-inner h4 {
    color: #58606D;
}

.card-section-inner h6 {
    color: #58606D;
}

.custom-new td,
.custom-new th {
    padding: 18px;
    white-space: nowrap;

}

.custom-new th {
    border-color: #E9E9EA !important;
    color: #06283D;
    font-weight: 400;
}

.custom-new td {
    border: unset;
    color: #58606D;
    font-weight: 400;
}

.overview-inner-section {
    float: left;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.new-customer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.new-customer-header h1 {
    text-transform: uppercase;
    color: #06283D;
    font-weight: 500;
}

.new-customer-header h6 {
    text-transform: uppercase;
    color: #2B73E2;
    font-weight: 600;
}

.custom-new {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 2px rgb(6 40 61 / 4%);
    border-radius: 5px;
    padding: 10px;
}

.custom-new .table {
    margin-bottom: 0;
}

.card-section-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

/* plan page  */
.header-plan {
    text-align: center;
    color: #06283D;
    font-weight: 600;
    margin-top: 20px;
}

.header-plan-inner {
    text-align: center;
    color: #6C7686;
    font-weight: 400;
    margin: 8px 0 90px 0;
}

.plan-card-header {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 30px 30px 40px;
    box-shadow: 0px 10px 20px 2px rgba(6, 40, 61, 0.05);
    transition: all 1.5s;
}

.plan-card-header:hover {


    background: #1f2439 url(../assets/images/plan-hover-card-bg.png) top left no-repeat;
    transform: scale(1.15);
}

.plan-card-header:hover .plan-card-head,
.plan-card-header:hover .plan-card-head-inner,
.plan-card-header:hover .plan-card-head-inner span,
.plan-card-header:hover .plan-list li {
    color: #FFFFFF;
}

.plan-card-header:hover .botton-section.plan-button a button {
    background: #4472C4;
    color: #FFFFFF;

}

.plan-card-head {
    color: #3A3A3A;
    font-weight: 500;
}

.plan-card-head-inner {
    font-weight: 700;
    color: #3A3A3A;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e6e8;
}

.plan-card-head-inner span {
    color: #6C7686;
    font-weight: 400;
}

.plan-list li {
    color: #3A3A3A;
    font-weight: 500;
    position: relative;
    padding: 14px 0 14px 34px;

}

.plan-list {
    padding: 10px 0;
}

.plan-list li:after {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #5FC863 url(../assets/images/document-open.png) center no-repeat;
    left: 0;
    content: "";

}

.botton-section.plan-button a button {
    background: #FFFFFF;
    border: 1px solid #4472C4;
    color: #4472C4;
    box-shadow: none;
    margin-top: 10px;
}

.botton-section.plan-button a button span {
    border-radius: 50%;
    padding: 0px 7px;
    background: #e6ecf7;
    margin-left: 10px;

}

/* my profile  */
.profile-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 30px;
    border: 5px solid #ffff;
    overflow: hidden;
}

.profile-img img {
    object-fit: contain;
}

.profile-names h3 {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
}

.profile-names p {
    text-transform: capitalize;
    color: #ffffff9c;
    font-weight: 400;
    margin: 0;
}

.profile-location p img {
    margin-right: 10px;
}

.profile-location {
    display: flex;
    flex-wrap: wrap;
}

.profile-names {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile-location p {
    margin: 0 25px 10px 0;
}

.profile-section {
    background: #172A4B;
    padding: 30px 30px 120px;
}

section {
    float: left;
    width: 100%;
}

section.form-section-profile {
    padding: 0 30px 30px 30px;
    margin-top: -120px;
}

.profile-form {
    padding: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 30px;
}

.profile-form>h3 {
    text-transform: uppercase;
    color: #06283D;
    border-bottom: 1px solid #C9C9C9;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.popup-section-profile-inner img {
    width: 160px;
    height: 130px;
    border-radius: 5px;
    border: 1px solid #00000045;
    position: relative;
}

.popup-section-profile-inner {
    margin: 15px 30px 0 0;
    position: relative;
}

.popup-section-profile {
    display: flex;
    flex-wrap: wrap;
}

.popup-section-profile-inner p {
    margin: 10px 0;
    text-align: center;
    color: #06283D;
    font-weight: 400;
}

.popup-section-profile-inner:hover:before {
    display: block;
    content: "";
    width: 160px;
    height: 130px;
    position: absolute;
    background: #00000054 url(../assets/images/full-screen.png) center no-repeat;
    top: 0%;
    left: 0;
    z-index: 1;
    border-radius: 5px;
}

.profile-name>p {
    margin: 8px 0;
}

.my-plan {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.my-plan-left .plan-list {
    padding: 0;
}

.my-plan-left .plan-list li:after {
    width: 16px;
    height: 16px;
    background-size: 56% 9px;
    top: 11px;
}

.my-plan-left .plan-list li {
    padding: 8px 0 8px 25px;
    color: #8f9196;
}

.my-plan-right .botton-section a button {
    font-weight: 500;
    box-shadow: unset;
}

.my-plan-right p {
    color: #8f9196;
    padding-top: 25px;
}

.sub-plan-header h5 {
    font-weight: 600;
}

.sub-plan-header button {
    color: #FFFFFF;
    background: #5FC863;
    border-radius: 20px;
    padding: 4px 10px;
    height: 25px;
    margin-left: 10px;
}

.sub-plan-header {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.billing-header>h3 {
    text-transform: uppercase;
    color: #06283D;
    margin: 10px 0 20px;
}

.billing-details>h6 {
    color: #969696;
    font-weight: 500;
}

.billing-details>p {
    color: #3A3A3A;
    font-weight: 400;
    margin-top: 5px;
}

.billing-inner {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

select.sel-dropdown {
    appearance: none;
    background: #ffffff url(../assets/images/sel-arrow.png) 96% 50% no-repeat !important;
}

select.sel-dropdown[data-option="hidden"] {
    color: #969696;
}



/* add/edit page 1 */
.back-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #4472C4;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;



}

.edit-customer {
    padding-bottom: 15px;
    display: flex;
    align-items: center;

}

.edit-customer>h2 {
    text-transform: uppercase;
    color: #06283D;
    font-weight: 500;
    padding-left: 15px;

}

.edit-section>h3 {
    text-transform: uppercase;
    color: #06283D;
    font-weight: 400;
    padding: 0 0 15px 10px;
    border-bottom: 1px solid #E9E9EA;
}

.edit-section {
    padding: 25px;
    background: #FFFFFF;
    border-radius: 5px;
    min-height: calc(100vh - 193px);
    overflow: auto;
}

.inner-section-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    float: left;
    width: 100%;
}

.fill-color {
    padding: 10px;
    background: #4472C4;
    border-radius: 5px;
    width: fit-content;
    margin-right: 15px;
    border: 1px solid #4472C4;
    color: #FFFFFF;

}

.border-color {
    background-color: transparent;
    color: #4472C4;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    border: 1px solid #4472C4;
}

.customers-details-inner {
    display: flex;
    flex-wrap: wrap;

}

.customers-details-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.customers-details-inner p {
    margin: 10px 0;
    color: #969696;


}

.customers-details-inner p:first-child {
    position: relative;
    width: 150px;
    min-width: 130px;
    margin-right: 5px;
    padding-right: 5px;
}

.customers-details-inner p:last-child {
    padding-left: 1.5vw;
}

.customers-details-inner p:first-child::after {
    content: ":";
    position: absolute;
    right: 0;
    width: 2px;
    font-size: 20px;
    color: #969696;
    display: block;
    top: -5px;

}

.customers-details {
    width: 360px;

}

/* add edit page 4  */
.bluecom-header {
    text-align: right;
    padding: 10px;
    background: #4472C4;
    border-radius: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.add-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.add-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.holder-name-blue {
    color: #3A3A3A;
    font-weight: 600;
    padding: 15px 0;
    border-bottom: 1px solid #E9E9EA;
    margin-bottom: 10px;
}

.holder-name-blue span {
    color: #58606D;
    font-weight: 400;
}

.add-inner p {
    color: #3A3A3A;
    margin: 0;
    padding: 12px 0;
}

.holder-name-blue-top h4:last-child {
    color: #58606D;
    font-weight: 600;
}

.holder-name-blue-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E9E9EA;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.holder-name-blue-top .holder-name-blue {
    margin: 0;
    border: unset;
}

.add-header .add-inner {
    padding-right: 15px;
}

.add-header .add-inner:last-child {
    padding-right: 0px;
}

.bluco-logo {
    background: #F5F6FA;
    border-radius: 5px;
    height: 80px;
    width: 310px;
    max-width: 100%;
    margin: 30px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bluco-logo span {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 6px 6px 0px;
    position: absolute;
    background: #4472C4;
    border-radius: 5px;
    top: 0;
    right: 0;
}

span.bluco-logo-changing {
    right: 32px;
}

.bluecomm-table thead th,
.bluecomm-table tbody td {
    border: unset;
}

.bluecomm-table tbody tr:nth-child(odd) {
    background: #F5F6FA;
}

.bluecomm-table tbody tr:nth-child(odd) td {
    padding: 15px;
}

.bluecomm-table tbody tr:nth-child(even) td {
    padding: 10px;
}

.total-val {
    background: #F5F6FA;
    width: 330px;
    max-width: 100%;
    height: 30px;
    margin: 20px 0;
    align-items: center;
    margin-left: auto;
}

.total-val label {
    background: #ffffff;
    height: 30px;
    width: 125px;
    text-align: center;
    border: 1px solid #F5F6FA;
    padding-top: 3px;
    text-align: right;
    padding-right: 5px;
}

.total-val button {
    width: 100%;
    background: #4472C4;
    height: 30px;
    text-align: left;
    padding-left: 55px;
    color: #ffff;
}

.bluecomm-table thead th {
    font-weight: 500;
    width: 10%;
}

.bluecomm-table thead th:nth-child(2) {
    width: 50%;
}

.bluecom-logo-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bluecom-date {
    display: flex;
    margin: 30px 0 0 20px;
}

.bluecom-date label {
    color: #969696;
}

.bluecom-date label span {
    padding: 0px 53px 0 18px;
    color: #3A3A3A;
}

.bluecomm-table.template-2 {
    float: left;
    width: 100%;
}

/* template 2 page  */
.template-2 thead th {
    border: 1px solid #C0D6FE;
    border-bottom: unset;
    border-top: unset;
    background: #F0F6FF;
}

.template-2 tbody tr {
    background: #FFFFFF;
}

.template-2 table {
    margin: 0;
}

.template-2 tbody tr:nth-child(odd) {
    background: #FFFFFF;
}

.bluecomm-table.template-2 tbody tr td {
    border: 1px solid #C0D6FE;
    padding: 15px;
}

.template-sub-2 .total-val {
    margin: 0;
    border: 1px solid #C0D6FE;
    background: #ffffff;
}

.template-sub-2 .total-val:first-child {
    border-bottom: unset;
}

.template-sub-2 .total-val label {
    background: transparent;
    border: unset;
}

.template-sub-2 .total-val {
    width: 100%;
    display: flex;
    justify-content: end;
}

.template-sub-2 .total-val p {
    margin: 0;
    width: 200px;
    height: 100%;
    border-left: 1px solid #C0D6FE;
}

.bluecomm-table.template-2 thead tr th:first-child {
    width: calc(100% - 200px);
}

.bluecomm-table.template-2 thead tr th:nth-child(2) {
    width: 200px;
}

.total-val:last-child {
    color: #ffff;
    background: #4472C4;

}

.total-val:last-child label {
    background: unset;
    border: unset;
}

/* template 3 page  */

.edit-section.templates-3 .bluecom-header {
    border-radius: unset;
    background: unset;
    font-weight: 700;
    border-bottom: 1px solid #E9E9EA;
    color: #4472C4;
}

.edit-section.templates-3 .bluecomm-table thead th {
    background: #4472C4;
    color: #ffff;
    border-right: 3px solid #ffff;
}

.edit-section.templates-3 .bluecomm-table tbody tr td {
    border-right: 3px solid #FFFFFf;
}

.edit-section.templates-3 .bluecomm-table tbody tr:nth-child(odd) {
    background: #F0F6FF;
}

.edit-section.templates-3 .total-val {
    background: #F0F6FF;
    margin-top: unset;
    margin-bottom: unset;
}

.edit-section.templates-3 .total-val label {
    background: transparent;
}

.edit-section.templates-3 .total-val:last-child {
    background: #4472C4;
}

.edit-section.templates-3 .total-val p {
    border-left: 3px solid #ffff;
    width: 185px;
    height: 100%;
    border-bottom: 3px solid #fff;
    margin: 0;
}

.edit-section.templates-3 .total-val:last-child p {
    border-bottom: unset;
}

.edit-section.templates-3 .total-val {
    display: flex;
    justify-content: end;
}

.template-3-number {
    text-align: center;
    color: #3A3A3A;
    margin-top: 50px;
    font-weight: 400;
}

/* add-edit page 3  */
.invoice-templates-section-inner {
    background: #F1F4F9;
    border: 1px solid #D9E6FD;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    padding: 12px;
}

.invoice-templates-section-img {
    height: 260px;
}

.invoice-templates-section-img img {
    width: 100%;
    height: 100%;
}

.invoice-templates-section-inner p {
    color: #4472C4;
    text-align: center;
    font-weight: 600;
    padding: 20px 0 6px 0;
    margin: 0;
}

.template-number {
    /* color: #4472C4; */
    color: #06283D;
    opacity: 0.6;
    font-weight: 400;
    text-align: center;
    margin: 20px 0 0;
}

.invoice-templates-section {
    width: 350px;
    max-width: 100%;
    margin: 30px 30px 0 0;
}

.invoice-templates {
    display: flex;
    flex-wrap: wrap;
}

/* page 8  */
.bluco-logo.details-logo {
    height: 150px;
    width: 100%;
}

.customers-details {
    margin-bottom: 15px;
}

.sub-plan {
    width: 420px;
    max-width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.sub-plan-header-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin: auto; */
}

#Unique {
    background: #F2F2F2 !important;
}

.report-inner-section.active-inner {
    display: block;
}



/* paranthaman end */






/*Suriya Meena Start */

/* common */

button {
    border: none;
}


.btn-close:hover,
.btn-close:focus,
.btn-close:focus-within {
    box-shadow: none;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

/*#manage_customers_page,
#transaction_report,
#report_page */


.row.manage_customer_show {
    float: unset;
}

.manage_customers input,
#transaction_report input,
.reports input {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
    color: #222324;
}

.sub_merchants .table tr td,
.manage_customers .table tr td,
.common_Manage_subMerchant .table tr td {
    text-transform: capitalize;
}

.sub_merchants,
.manage_customers,
.reports {
    margin: 30px;
}

/* Sub Merchants Page Start */

.sub_merchant_head,
.manage_customers_head {
    margin-bottom: 10px;
}

.sub_merchants .merchant_main_head,
.manage_customers .manage_customers_main_head {
    font-weight: 500;
    text-transform: uppercase;
    color: #06283D;
}

.sub_merchants .merchant_btn,
.manage_customers .manage_customers_btn,
.common_Manage_subMerchant .manage_customers_btn {
    background: #4472C4;
    border-radius: 5px;
    padding: 11px 15px;
    border: 1px solid transparent;
    font-style: normal;
    font-weight: 500;
}

.manage_customers .manage_customers_btn:last-of-type{
    border: 1px solid #4472C4;
    background: transparent;
}

.sub_merchants .merchant_btn a,
.manage_customers .manage_customers_btn a,
.common_Manage_subMerchant .manage_customers_btn a {
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.manage_customers .manage_customers_btn:last-of-type a{
    color: #4472C4;
}

.sub_merchants .sub_merchant_table_responsive,
.manage_customers .manage_customers_table_responsive,
.reports .reports_table_responsive {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 2px rgba(6, 40, 61, 0.04);
    border-radius: 5px;
}

.sub_merchants .sub_merchant_table_responsive,
.manage_customers_table_in_responsive {
    overflow-x: scroll;
}

.sub_merchants .sub_merchant_table_responsive::-webkit-scrollbar,
.manage_customers .manage_customers_table_in_responsive::-webkit-scrollbar,
.common_Manage_subMerchant .manage_customers_table_in_responsive::-webkit-scrollbar,
.add_edit_roles_table_in_responsive_II::-webkit-scrollbar {
    width: 0px;
    height: 5px;
}

.sub_merchants .sub_merchant_table_responsive::-webkit-scrollbar-thumb,
.manage_customers .manage_customers_table_in_responsive::-webkit-scrollbar-thumb,
.common_Manage_subMerchant .manage_customers_table_in_responsive::-webkit-scrollbar-thumb,
.add_edit_roles_table_in_responsive_II::-webkit-scrollbar-thumb {
    background-color: #4472C4;
    border-radius: 10px;
}

.sub_merchants .sub_merchant_table_responsive::-webkit-scrollbar-track,
.manage_customers .manage_customers_table_in_responsive::-webkit-scrollbar-track,
.common_Manage_subMerchant .manage_customers_table_in_responsive::-webkit-scrollbar-track,
.add_edit_roles_table_in_responsive_II::-webkit-scrollbar-track {
    box-shadow: 0px 0px 1px grey;
    border-radius: 5px;
}

.sub_merchants .table,
.manage_customers .table,
.common_Manage_subMerchant .table {
    margin: 10px 15px 13px;
    width: -webkit-fill-available;
}

.sub_merchants thead,
.manage_customers thead,
.common_Manage_subMerchant thead {
    border-bottom: 1px solid #E9E9EA;
}

.sub_merchants .table th,
.manage_customers .table th,
.common_Manage_subMerchant .table th {
    font-weight: 400;
    text-transform: uppercase;
    color: #06283D;
    white-space: nowrap;
}

.sub_merchants .table tr,
.manage_customers .table tr,
.common_Manage_subMerchant .table tr {
    vertical-align: middle;
}

.sub_merchants .table tr th,
.sub_merchants .table tr td,
.manage_customers .table tr th,
.manage_customers .table tr td,
.common_Manage_subMerchant .table tr th,
.common_Manage_subMerchant .table tr td {
    border-width: 0;
    white-space: nowrap;
    padding: 20px 5px;
}


.sub_merchants table tr td:first-child,
.manage_customers table tr td:first-child,
.common_Manage_subMerchant table tr td:first-child,
#transaction_report .table td:nth-child(3) {
    text-align: center;
}

.sub_merchants .table td:nth-of-type(8) {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
    border-bottom: 0;
    line-height: 30px;
}

.sub_merchants .table th:last-child,
.sub_merchants .table th:first-child,
.manage_customers .table th:last-child,
.manage_customers .table th:first-child,
.common_Manage_subMerchant .table th:last-child,
.common_Manage_subMerchant .table th:first-child,
.common_Manage_subMerchant .table tr td:last-child {
    text-align: center;
}

.sub_merchants .table_icons,
.manage_customers .table_icons {
    width: 21px;
    height: 21px;
    margin: 0 12.5px;
}

.sub_merchants .table_icons img,
.manage_customers .table_icons img {
    width: 100%;
    height: 100%;
}

/* Sub Merchants Page End */

/* Manage Customers Start */

.manage_customers .table tr th,
.manage_customers .table tr td,
.common_Manage_subMerchant .table tr th,
.common_Manage_subMerchant .table tr td {
    padding: 20px;
}

.manage_customers_table_responsive,
.reports .reports_table_responsive {
    padding: 10px 15px 13px;
    box-sizing: border-box;
    overflow-x: unset;
}

.manage_customers .table,
.common_Manage_subMerchant .table {
    margin: unset;
}

#customer_manage_search,
#reports_search1,
#reports_search2,
#reports_search3,
#transaction_reports_search1,
#transaction_reports_search3,
#static_report_search1,
#static_report_search3,
#static_report_II_search3 {
    width: 360px;
    background: #FFFFFF;
    border: 0.5px solid #959595;
    border-radius: 5px;
    padding: 12px 45px 12px 20px;
}

.customer_manage_search_container {
    margin-top: 23px;
    margin-left: 10px;
    position: relative;
    width: 360px;
}

.customer_manage_search_container::after,
.reports .reports_search_container::after {
    content: "";
    position: absolute;
    background-image: url(../assets/images/input-s.png);
    width: 20px;
    height: 20px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

#customer_manage_search::placeholder,
#reports_search1::placeholder,
#reports_search2::placeholder,
#reports_search3::placeholder,
#transaction_reports_search1::placeholder,
#transaction_reports_search3::placeholder,
#static_report_search1::placeholder,
#static_report_search3::placeholder,
#static_report_II_search3::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #58606D;
}

.manage_customers tr:last-child,
.common_Manage_subMerchant tr:last-child {
    border-bottom: 1px solid #E9E9EA;
}

.manage_customers .manage_customers_table_in_responsive::-webkit-scrollbar-track,
.reports .manage_customers_table_in_responsive::-webkit-scrollbar-track {
    box-shadow: none;
}

.manage_customer_show {
    margin-top: 10px;
}

.manage_customer_show_I {
    font-style: normal;
    font-weight: 400;
    color: #6C7686;

}

#manage_customer_show_no,
#list_report_show_no,
#static_report_show_no {
    border: 1px solid #6C7686;
    border-radius: 3px;
    color: #3A3A3A;
    padding: 3px 3px 3px 10px;
    width: 60px;
    display: inline;
    position: relative;
}

.manage_customers .manage_customer_show .manage_customer_show_I .form-select,
.common_Manage_subMerchant .manage_customer_show .manage_customer_show_I .form-select {
    cursor: pointer;
    background-image: url(../assets/images/sort-arrows-couple-pointing-up-and-down.png);
    background-size: 10px 10px;
}

.form-select:focus {
    box-shadow: none;
}

.manage_customers .page-link,
.common_Manage_subMerchant .page-link {
    border-color: transparent;
    ;
}

.manage_customers .pagination .page-link,
.common_Manage_subMerchant .pagination .page-link {
    font-style: normal;
    font-weight: 400;
    color: #6C7686;
    padding: 5px 11px;
}

.common_Manage_subMerchant .pagination .page-item:last-of-type .page-link {
    color: #4472C4;
}

.manage_customers .pagination .page-item:first-of-type .page-link,
.manage_customers .pagination .page-item:last-of-type .page-link,
.common_Manage_subMerchant .pagination .page-item:first-of-type .page-link,
.common_Manage_subMerchant .pagination .page-item:last-of-type .page-link {
    width: auto;
}

.manage_customers .pagination .page-item:focus-visible,
.common_Manage_subMerchant .pagination .page-item:focus-visible {
    outline: 0;
}

.manage_customers .pagination .page-link:hover,
.common_Manage_subMerchant .pagination .page-link:hover,
.common_Manage_subMerchant .pagination .page-item:last-of-type .page-link:hover,
.common_Manage_subMerchant .pagination .page-item:last-of-type .page-link:focus {
    background: #4472C4;
    border-radius: 3px;
    outline: none;
    color: #FFFFFF;
}

.manage_customers .pagination .page-link:focus,
.common_Manage_subMerchant .pagination .page-link:focus {
    background: #4472C4;
    box-shadow: none;
    color: #FFFFFF;
}

/* Manage Customers End */

/* Reports Start */
.reports .reports_customers_head .breadcrumb,
.reports .reports_customers_head .breadcrumb-item.active,
.reports .reports_customers_head .breadcrumb-item+.breadcrumb-item::before {
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    color: #06283D;
}

.reports .reports_customers_head .breadcrumb .breadcrumb-item a {
    text-decoration: none;
}

.reports .reports_customers_head .breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

.common_Manage_subMerchant .report_input_group {
    margin-top: 23px;
    margin-left: 10px;
}

.reports .reports_search_container {
    position: relative;
}

.reports .reports_search_container::after {
    right: 25px;
}

#reports_search1_container,
#transaction_reports_search1_container,
#static_report_search1_container {
    width: 289px;
}

#reports_search2_container {
    width: 389px;
}


#reports_search3_container,
#transaction_reports_search3_container,
#static_report_search3_container,
#static_report_II_search3_container {
    width: 217px;
    line-height: 0;
}

#reports_search3_container::after,
#transaction_reports_search3_container::after,
#static_report_search3_container::after,
#static_report_II_search3_container::after {
    background-image: url(../assets/images/date-icon.png);
    background-repeat: no-repeat;
}

#reports_search3,
#transaction_reports_search3,
#static_report_search3,
#static_report_II_search3 {
    padding: unset;
    height: 47px;
    padding-left: 12px;
}


#reports_search4_container button,
#transaction_reports_search4_container button,
#static_report_search4_container button {
    padding: 12px 15px;
    color: #FFFFFF;
}

/* input#reports_search3:focus-visible,
input#reports_search3:focus-within {
    color: #FFFFFF;
    position: relative;
} */

#transaction_reports_search3_container::before,
#reports_search3_container::before{
    content: "transaction Date";
    position: absolute;
    font-style: normal;
    font-size: 14px;
    text-transform: capitalize;
    color: #58606D;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

#reports_search3_container::before{
    content: "Select Date";
}

#transaction_reports_search3_container.transaction_reports_date_remove::before,
#reports_search3_container.transaction_reports_date_remove::before{
    content: "";
}

#transaction_reports_search3_container.transaction_reports_date input#reports_search3,
#reports_search3_container.transaction_reports_date input#reports_search3{
    color: black;
}

input[type=date]::-webkit-datetime-edit {
    color: white;
}

#transaction_reports_search3_container.transaction_reports_date_remove input[type=date]::-webkit-datetime-edit,
#reports_search3_container.transaction_reports_date_remove input[type=date]::-webkit-datetime-edit{
    position: absolute;
    z-index: 10;
    color: #212529;
}

input#reports_search3::-webkit-calendar-picker-indicator,
input#transaction_reports_search3::-webkit-calendar-picker-indicator,
input#static_report_search3::-webkit-calendar-picker-indicator,
input#static_report_II_search3_container::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    color: transparent;
    background: none;
    z-index: 100;
}

#transaction_reports_search3_container.transaction_reports_date_remove input[type=date]::-webkit-calendar-picker-indicator,
#reports_search3_container.transaction_reports_date_remove input[type=date]::-webkit-calendar-picker-indicator{
    width: 100%;
}

.d-flex.report_input_group>div:nth-child(2),
.d-flex.report_input_group>div:nth-child(3) {
    margin-right: 10px;
    margin-left: 10px;
}

.d-flex.report_input_group>div:first-child {
    margin-right: 10px;
}

.d-flex.report_input_group>div:last-child {
    margin-left: 10px;
}


/* Report End */

/* Tranaction Start */

#transaction_reports_search2_container {
    width: 217px;
}

#transaction_report #transaction_reports_search2_container .form-select {
    cursor: pointer;
    background-image: url(../assets/images/select-icon.png);
    background-size: 10px 10px;
    border: 0.5px solid #959595;
    border-radius: 5px;
    padding: 12px 45px 12px 20px;
}

#transaction_report #transaction_reports_search2_container .form-select:focus {
    background-image: url(../assets/images/select-icon-a.png);
}

#transaction_report #transaction_reports_search2_container .form-select:not(:focus) {
    background-image: url(../assets/images/select-icon.png);
}

#transaction_report #transaction_reports_search2_container::after {
    width: 0;
}

#transaction_reports_search3,
#static_report_search3,
#static_report_II_search3 {
    padding-left: 20px;
}

#transaction_report .table td:nth-child(2),
#transaction_report .table td:nth-child(6),
#transaction_report .table td:nth-child(7),
#transaction_report .table td:nth-child(9),
#transaction_report .table td:nth-child(10) {
    text-align: right;
}

#transaction_report .table th:last-child,
#transaction_report .table tr td:last-child {
    text-align: left;
}

.manage_customers_table_in_responsive::-webkit-scrollbar-track {
    background-color: #E9E9EA;
}

/* Tranaction End */

/*Static Report Start */

#static_report_search4_container button {
    height: 47px;
}

#static_report.common_Manage_subMerchant .table tr th:nth-child(4),
#static_report.common_Manage_subMerchant .table tr th:nth-child(5),
#static_report.common_Manage_subMerchant .table tr th:nth-child(6) {
    text-align: right;
}

#static_report.common_Manage_subMerchant .table tr td:nth-child(4),
#static_report.common_Manage_subMerchant .table tr td:nth-child(5),
#static_report.common_Manage_subMerchant .table tr td:nth-child(6) {
    text-align: right;
}

.manage_customers_table_in_responsive::-webkit-scrollbar-track {
    background-color: unset;
}

#static_report.common_Manage_subMerchant .reports_table_responsive:first-of-type {
    margin-bottom: 20px;
}

#static_report_II_search3 {
    float: right;
}

#static_report .reports_table_responsive_II {
    padding-right: 25px;
    padding-left: 65px;
}

#static_report_II_search3_container {
    margin-right: 0;
}

.report_input_group_II {
    justify-content: flex-end;
    margin-bottom: 15px;
}

.static_report_table_in_responsive_II {
    height: 300px;
}

#static_report #myChart-two {
    height: 100% !important;
}

/*Static Report End */

/* Add Edit Roles in Merchants Start*/

#add_edit_roles .edit-section {
    min-height: unset;
}

#add_edit_roles .edit-section:first-of-type {
    margin-bottom: 40px;
}

#add_edit_roles.common_Manage_subMerchant .table th,
#add_edit_roles.common_Manage_subMerchant table tr td {
    text-align: center;
}

#add_edit_roles.common_Manage_subMerchant .table th:first-child,
#add_edit_roles.common_Manage_subMerchant table tr td:first-child {
    text-align: left;
}

.box_check_head {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.box_check {
    height: 21px;
    width: 21px;
}

.box_check[type="checkbox"]:before,
.box_check_head[type="checkbox"]:before {
    position: relative;
    display: block;
    content: "";
    background: #FFF;
}

.box_check[type="checkbox"]:after,
.box_check_head[type="checkbox"]:after {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: #fff;
    content: "";
    /* background-image: linear-gradient(135deg, #B1B6BE 0%,#FFF 100%); */
    background-repeat: no-repeat;
    background-position: center;
    outline: 1px solid #4472C4;
}

.box_check[type="checkbox"]:checked:after,
.box_check_head[type="checkbox"]:checked:after {
    background-color: #4472C4;
    padding: 3px;
    border-radius: 3px;
}

.box_check_head[type="checkbox"]:checked:after {
    border-radius: 2px;
    outline: 1px solid #0033A1;
}

.box_check_head[type="checkbox"]:checked:after {
    background-color: #0033A1;
}


/* Add Edit Roles in Merchants  End*/

/* Admin Popup Start */

.modal-content {
    background: #ECF3FF;
}

.btn-close {
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
    padding: 25px;
    background: #4472C4;
    border-radius: 50%;
}

.btn-close::before {
    content: "";
    background-image: url("../assets/images/document-close.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-header,
.modal-body {
    justify-content: center;
    border-bottom: none;
    padding: 10px;
}

.modal-body {
    padding: unset;
}

.modal-header h5 {
    font-style: normal;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #4472C4;
    padding-top: 20px;
}

.modal-body p {
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #3A3A3A;
    letter-spacing: -1px;
}

.modal-footer {
    display: flex;
    justify-content: center;
    border-top: none;
    padding-bottom: 50px;
}

.modal-footer div {
    height: 300px;
    width: 300px;
}

.modal-footer div img {
    height: 100%;
    width: 100%;
}

/* Admin Popup End */

/*Final step registration popup start */

.upload_popup_button_container {
    padding-bottom: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.upload_popup_button {
    width: 100%;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}

#registration .modal-body p {
    letter-spacing: 0;
}

/*Final step registration popup End */

/*Role permission popup start */

#add_edit_roles .modal-content,
#roles .modal-content{
    background: #ffffff;
}



.popup_icon_container {
    width: 23px;
    height: 21px;
    margin: auto;
}

.popup_icon {
    width: 100%;
    height: 100%;
}

#add_edit_roles .modal-content,
#roles .modal-content {
    width: unset;
}

.popup_colan {
    padding: 0;
    display: flex;
    justify-content: center;
}

#add_edit_roles.common_Manage_subMerchant .modal-content tr:last-child,
#roles .modal-content tr:last-child{
    border-bottom: none;
}

#add_edit_roles.common_Manage_subMerchant .modal-content .row span,
#roles .modal-content .row span{
    font-style: normal;
    font-weight: 500;
    color: #969696;
    text-align: left;
}

#add_edit_roles.common_Manage_subMerchant .modal-content .row,
#roles .modal-content .row{
    padding-top: 15px;
}

#add_edit_roles.common_Manage_subMerchant .modal-content .row .col-7,
#roles .modal-content .row .col-7{
    margin-bottom: 15px;
    white-space: normal;
}

#roles .modal-content .edit-section{
    white-space: normal;
}

#roles .modal-content .add_edit_roles_table_in_responsive_II .roles_icon_popup_img_container{
    width: 10px;
    height: 10px;
    display: inline-block;
}

#roles.common_Manage_subMerchant .modal-content .table th:first-child,
#roles.common_Manage_subMerchant .modal-content table tr td:first-child{
    text-align: left;
}

#roles.common_Manage_subMerchant .modal-content h3{
    text-align: left;
}

#roles.sub_merchants .modal-content .sub_merchant_table_responsive {
    box-shadow: none;
}

#roles.sub_merchants .sub_merchant_table_responsive::-webkit-scrollbar-track{
    box-shadow: none;
}
/*Role permission popup End */

/* Suriya Meena End */